@import '../../_varMixGlobal.scss';

.profile {
    min-height: 25vh;
    width: 100%;
    background: url('https://cdn.pixabay.com/photo/2014/04/04/14/56/background-313418_1280.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8em;
    padding-bottom: 10px;

    li {
        width: 80%;
        @include centercentercol;

        img {
            height: 200px;
            width: 80%;
            min-width: 200px;
            max-width: 300px;
            border-radius: 25% 25%;
            margin-top: 10px;
            z-index: 98;
        }
        
        #camera:hover {
            filter: alpha(opacity=50);
            opacity: 0.5;
            background: url('./iconsAndImages/outline_camera_front_white_48dp.png');
            // z-index: 97;
        }
        
        #swap-picture {
            margin: 10px;
            width: 80%;
            background: gray;
            @include centercentercol;
        }

        span {
            text-align: center;
            min-width: 175px;
            max-width: 225px;
            color: $white;
            // color: $silver + 50;
        }
    }
}

#bio {
    width: 97%;

    @media (min-width: 500) and (max-width: 599px) {
        width: 98%;
    }

    @media (min-width: 600) {
        width: 100%;
    }
    h2 {
        margin: 8px;
        font-size: 1.5em;
    }

    div {
        span {
            margin: 8px;
            color: black;
            background: $silver;
            @include databorder;
            padding: 6px;
            font-family: 'Poppins, sans-serif';
            text-align: center;
            font-style: italic;
            font-weight: 700;
        }
    }
}

#userinfo-container {
    @include centercentercol;
}