@import '../../_varMixGlobal.scss';

.profile {
    min-height: 25vh;
    width: 100%;
    background: url('https://cdn.pixabay.com/photo/2014/04/04/14/56/background-313418_1280.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8em;
    padding-bottom: 10px;

    li {
        width: 80%;
        @include centercentercol;

        img {
            height: 200px;
            width: 80%;
            min-width: 200px;
            max-width: 300px;
            border-radius: 25% 25%;
            margin-top: 10px;
            z-index: 98;
            cursor: pointer;
        }
        
        #camera:hover {
            filter: alpha(opacity=50);
            opacity: 0.5;
            background: url('./iconsAndImages/outline_camera_front_white_48dp.png');
            // z-index: 97;
        }
        
        #swap-picture {
            margin: 10px;
            width: 80%;
            // background: gray;
            @include centercentercol;
            justify-content: flex-end;
            
            .inputfile {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }

            .inputfile + label {
                font-size: 1.2em;
                // font-weight: 500;
                color: white;
                background-color: grey;
                display: inline-block;
                align-content: center;
                text-align: center;
                padding: 8px;
                margin: 10px;
                border-radius: 8px;
                border: solid $silver;
            }
            
            .inputfile:focus + label,
            .inputfile + label:hover {
                background-color: $uavYellow;
                padding: 8px;
                margin: 10px;
                border-radius: 8px;
                border: solid $silver;
            }

            .inputfile + label {
	            cursor: pointer;
            }
        }

        span {
            text-align: center;
            min-width: 175px;
            max-width: 225px;
            color: $white;
        }
    }
}

#bio {
    width: 97%;

    .bio-div {
        h2 {
            margin: 8px;
            font-size: 1.5em;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        span {
            margin: 8px;
            color: black;
            background: $silver;
            @include databorder;
            padding: 6px;
            font-family: 'Poppins, sans-serif';
            text-align: center;
            font-style: italic;
            font-weight: 700;
            font-size: 1.2em;
        }
    }
}

#userinfo-container {
    @include centercentercol;
}

#edit-bio-button {
    width: fit-content;
    font-size: 0.8em;
}