@import '../../_varMixGlobal.scss';

h1 {
    margin: 8px;
    align-self: center;
    text-align: center;
    font-size: 3em;
}

#search-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    input { margin-left: 5px;}
}

// CLASS ALREADY DEFINED IN _USERDATA.SCSS
// .data-container {
//     width: auto;
//     margin: 5px;
//     margin-bottom: 20px;
//     color: black;
//     ul {
//         // width: 100%;
//         display: flex;
//         flex-direction: row;
//         flex-wrap: wrap;
//         // justify-content: space-around;
//         border: solid $uavYellow 4px;
//         border-radius: 8px;
//         background: orange;

//         li {
//             width: auto;
//             background: orange;
//             padding: 8px;

//             .col-name {
//                 margin-bottom: 3px;
//             }

//             .the-meat {
//                 border-top: solid 2px black;
//             }
//         }
//     }
// }