@import '../../_varMixGlobal.scss';



.data-container {
    width: auto;
    margin: 5px;
    margin-bottom: 20px;
    color: black;
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: solid $uavYellow 4px;
        border-radius: 8px;
        background: orange;

        @media (min-width: 600px) {
            justify-content: space-between;
        }

        li {
            width: auto;
            background: orange;
            padding: 8px;

            .col-name {
                margin-bottom: 3px;
            }

            .the-meat {
                border-top: solid 2px black;
            }

            .title {
                border-top: solid 2px $silver;
            }
        }
    }
}

form {
    @include databorder;
    padding: 4%;
    p {
        color: $silver;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    #category-choice {
            
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            background: $white;
            color: black;


        div {
            width: auto;
            display: flex;
            flex-direction: row;
            margin: 5px;
        }
    }
}

.button-fit {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-fit-form-add {
    display: flex;
    flex-direction: column;
    height: 125px;
    justify-content: space-between;

    div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}