@import '../../_varMixGlobal.scss';

header {
    background: $gold;    
    height: 5%;
    padding: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}