@import '../../_varMixGlobal.scss';

.auth-wrapper {
    @include centercentercol;
    // background: $blue;
    // background: url('https://cdn.pixabay.com/photo/2014/04/04/14/56/background-313418_1280.jpg');
    // background-repeat: repeat;
    // background-size: cover;
    // background-position: center;
    height: 100vh;

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 25vh;
        width: 80%;
        // background: red;
        margin: 4%;

        label {
            color: white;
        }
        
        input {
            width: 70%;
        }
    }
}