@import '../../_varMixGlobal.scss';

.auth-wrapper {
    @include centercentercol;
    height: auto;

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 25vh;
        width: 80%;
        // background: red;
        margin: 4%;

        label {
            color: white;
        }
        
        input {
            width: 70%;
        }
    }
}