@import '../../_varMixGlobal.scss';

#about {
    color: $white;
    position: absolute;
    top: 60px;
    z-index: 5;
    align-self: center;
    font-size: 18px;
    text-align: center;
    height: 10%;
    padding: 4px;

    @media (min-width: 600px) {
        font-size: 32px;
        padding: 8px;
    }
}

#dolphinimation {
    width: 100vw;
    height: 64px;
    // border: 1px solid black;
    position: absolute;
    top: 15vh;
    // animation-name: swim;
    // animation-duration: 2s;
    // animation-iteration-count: infinite;

    // #dolphin-swim-right {
    //     @keyframes swim {
    //         0%   { left:0; }
    //         25%  { left:20%; }
    //         50%  { left:40%; }
    //         75%  { left:60%; }
    //         100% { left:80%; }
    //     } 
    // }

    @media (min-width: 600px) {
        top: 20vh;
    }
}

.auth-wrapper {
    @include centercentercol;
    height: auto;
    position: absolute;
    top: 22.5vh;

    @media (min-width: 600px) {
        display: flex;
        flex-direction: row;
        top: 30vh;
    }

    #login-container {
        background-color: black;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 27.5vh;
        width: 90%;
        @include databorder;
        margin: 1%;

        @media (min-width: 600px) {
            margin: 4%;
            height: 35vh;
        }

        label {
            color: white;
            margin: 8px;
            position: relative;
        }
        
        input {
            width: 190px;
            position: relative;
        }
    }

    #register-container {
        background-color: black;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 35vh;
        width: 90%;
        @include databorder;
        margin: 1%;

        label {
            color: white;
            margin: 4px;
            position: relative;
        }
        
        input {
            width: 190px;
            position: relative;
        }

        @media (min-width: 600px) {
            margin: 4%;
        }
    }
}

#explore-as-guest {
    @include subtopicnav;
    position: absolute;
    top: 86vh;
  
  .subtopic-nav {
        margin: 0 1%;    
  }

//   @media (min-width: 400px) {
//       top: 86vh;
//   }

  @media (min-width: 500px) {
      top: 86.25vh;
  }
  
  @media (min-width: 600px) {
      top: 75vh;
  }
}
