$uavYellow: #f6c700;
// $silver: #c0c0c0;
$silver: #f1eaee;
// $blue: #005eaa;
$blue: #0073ad;
$white: #f1f1f1;


@mixin acoustiseaButton {
    background: $blue;
    border-radius: 8px;
    border: solid $silver;
    color: $white;
    cursor: pointer;
}

@mixin centercentercol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin databorder {
    border: solid 4px $uavYellow;
    border-radius: 8px;
}

%nav-text-color {
    color: $silver;
}

%fixed-background {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}