$gold: #9e8204;
$silver: #c0c0c0;
$blue: #005eaa;
$white: #f1f1f1;

@mixin file-button {
    background: $blue;
    border-radius: 15%;
    border: solid $silver;
    color: $white
}

%nav-text-color {
    text-decoration: none;
    color: $silver;
}