@import '../../_varMixGlobal.scss';

div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .user-info {
        padding: 0;
    }

    @include subtopicnav;

    .user-data {
        display: flex;
        flex-direction: column;
        padding: 3%;

        span {
            font-size: 1.5em;
            text-align: center;
        }
    }
}